@model StudentCheck.DataAccess.ModelViews.ManageStudentViewModel

<div class="box">
    <div class="box-header">
        <h3 class="box-title">ตารางข้อมูลนักศึกษา</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered table-striped text-center" id="student-datatable">
            <thead>
                <tr>
                    <th>รหัสนักศึกษา</th>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th>แก้ไข</th>
                    <th>ลบ</th>
                </tr>
            </thead>
            <tbody>

                @{ int No = 0; }

                @foreach (var item in Model.StudentList)
                {
                    <tr>
                        <td>@item.StudentId</td>
                        <td>@item.StudentFirstname</td>
                        <td>@item.StudentLastname</td>
                        <td class="text-center">
                            <button type="button" class="btn" data-toggle="modal" data-target="#modal-edit-@No"><span class="fa fa-fw fa-edit"></span></button>

                            <div class="modal fade modal-edit" id="modal-edit-@No">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form asp-controller="ManageStudent" asp-action="UpdateStudent" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="Student-datatable" data-ajax-success="OnUpdateStudentSuccess">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">Update Student</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="form-group col-sm-2">
                                                        <label>รหัสนักศึกษา</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.Studentid" value="@item.StudentId" readonly />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-2">
                                                        <select class="form-control" asp-for="modelCreatStudent.StudentPrefix">
                                                            <option value="">--- กรุณาเลือก ---</option>
                                                            <option value="นาย">นาย</option>
                                                            <option value="นาง">นาง</option>
                                                            <option value="นางสาว">นางสาว</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <label>ชื่อ</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentFirstname" value="@item.StudentFirstname" />
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <label>นามสกุล</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentLastname" value="@item.StudentLastname" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-sm-2">
                                                        <label>เบอร์โทรศัพท์</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentTel" value="@item.StudentTel" />
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <label>อีเมล</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentEmail" value="@item.StudentEmail" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-2">
                                                        <label>Facebook</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentFacebook" value="@item.StudentFacebook" />
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <label>Line</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentLine" value="@item.StudentLine" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    
                                                    <hr />
                                                    <div class="from-grop col-sm-2">
                                                         <label style="">ผู้ปกครอง</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-2">
                                                        <label>ชื่อ</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentParentName" value="@item.StudentParentName" />
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <label>นามสกุล</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentParentLName" value="@item.StudentParentLastName" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-2">
                                                        <label>เบอร์โทรศัพท์</label>
                                                    </div>
                                                    <div class="from-grop col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentParentNumber" value="@item.StudentParentNumber" />
                                                    </div>
                                                    <div class="form-group col-sm-2">
                                                        <label>อีเมล</label>
                                                    </div>
                                                    <div class="from-grop col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentParentEmail" value="@item.StudentParentEmail" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-2">
                                                        <label>ที่อยู่</label>
                                                    </div>
                                                    <div class="from-grop col-sm-3">
                                                        <input class="form-control" name="modelCreatStudent.StudentAddress" value="@item.StudentAddress" />
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm-2">
                                                            <label>Line</label>
                                                        </div>
                                                        <div class="from-grop col-sm-3">
                                                            <input class="form-control" name="modelCreatStudent.StudentlineParent" value="@item.StudentlineParent" />
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ปิด</button>
                                                <button type="submit" class="btn btn-primary">อัพเดท</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><button type="button" class="btn" onclick="DeleteStudent('@item.StudentId')"><span class="fa fa-fw fa-remove"></span></button></td>
                    </tr>
                    No++;
                }

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>