@model StudentCheck.DataAccess.ModelViews.ManageProfessorViewModel

<div class="box">
    <div class="box-header">
        <h3 class="box-title">ตารางข้อมูลอาจารย์</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped text-center" id="professor-datatable">
            <thead>
                <tr>
                    <th>รหัสอาจารย์</th>
                    <th>ตำแหน่ง</th>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th>แก้ไข</th>
                    <th>ลบ</th>
                </tr>
            </thead>
            <tbody>

                @{ int No = 0; }

                @foreach (var item in Model.ProfessorList)
                {
                    <tr>
                        <td>@item.ProfessorsId</td>
                        <td>@item.PositionId</td>
                        <td>@item.ProfessorsFirstname</td>
                        <td>@item.ProfessorsLastname</td>
                        <td class="text-center">
                            <button type="button" class="btn" data-toggle="modal" data-target="#modal-edit-@No"><span class="fa fa-fw fa-edit"></span></button>

                            <div class="modal fade" id="modal-edit-@No">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form asp-controller="ManageProfessor" asp-action="UpdateProfessor" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="professor-datatable" data-ajax-success="OnUpdateProfessorSuccess">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">Create Professor</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="form-group col-sm-1">
                                                        <label>รหัสอาจารย์</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorsId" value="@item.ProfessorsId" readonly/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-1">
                                                        <label >ตำแหน่ง</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input type="hidden" class="position-id-value" value="@item.PositionId" />
                                                        <select class="form-control" name="modelCreatProfessor.PositionId" asp-items="Model.modelCreatProfessor.PositionSelectList"></select>
                                                    </div>
                                                    <div class="form-group col-sm-1">
                                                        <label>ชื่อ</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorsFirstname" value="@item.ProfessorsFirstname" />
                                                    </div>
                                                    <div class="form-group col-sm-1">
                                                        <label>นามสกุล</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorsLastname" value="@item.ProfessorsLastname" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-1">
                                                        <label>คณะ</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorsFacultys" value="@item.FacultyIdP" />
                                                    </div>
                                                    <div class="form-group col-sm-1">
                                                        <label>สาขา</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorsBranch" value="@item.BranchIdP" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-1">
                                                        <label>เบอร์โทร</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorsTel" value="@item.ProfessorsTel" />
                                                    </div>
                                                    <div class="form-group col-sm-1">
                                                        <label>อีเมล</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorsEmail" value="@item.ProfessorsEmail" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-1">
                                                        <label>Facebook</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorsFacebookId" value="@item.ProfessorsFacebookId" />
                                                    </div>
                                                    <div class="form-group col-sm-1">
                                                        <label>Line</label>
                                                    </div>
                                                    <div class="form-group col-sm-3">
                                                        <input class="form-control" name="modelCreatProfessor.ProfessorslineId" value="@item.ProfessorslineId" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ปิด</button>
                                                <button type="submit" class="btn btn-primary">อัพเดท</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><button type="button" class="btn" onclick="DeleteProfessor('@item.ProfessorsId')"><span class="fa fa-fw fa-remove"></span></button></td>
                    </tr>
                   No++;
                }

            </tbody>
        </table>
    </div>
</div>